secrets.py
.vscode
__pycache__
app/neo4j/data/*
!app/neo4j/data/.gitkeep
.env
export.csv
clean_news.csv
test_data/
app/data_database/*
!app/data_database/conf
!app/data_database/update_metadata.py
!app/data_database/display_news_article.py
diff.html
*.log
*.lock
*.bcf
*.lof
*.lot
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.sub
*.suc
*.syc
*.sym
*.bak
doc/*.xml
